@font-face {
	font-family: 'Courgette';
	src: url('../../fonts/web/Courgette-Regular.eot');
	src: url('../../fonts/web/Courgette-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/web/Courgette-Regular.woff2') format('woff2'),
	url('../../fonts/web/Courgette-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Fondamento';
	src: url('../../fonts/web/Fondamento-Regular.eot');
	src: url('../../fonts/web/Fondamento-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/web/Fondamento-Regular.woff2') format('woff2'),
	url('../../fonts/web/Fondamento-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LibreBaskerville';
	src: url('../../fonts/web/LibreBaskerville-Regular.eot');
	src: url('../../fonts/web/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/web/LibreBaskerville-Regular.woff2') format('woff2'),
	url('../../fonts/web/LibreBaskerville-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../../fonts/web/Roboto-Regular.eot');
	src: url('../../fonts/web/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/web/Roboto-Regular.woff2') format('woff2'),
	url('../../fonts/web/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TimesNewRoman';
	src: url('../../fonts/web/TimesNewRoman.eot');
	src: url('../../fonts/web/TimesNewRoman.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/web/TimesNewRoman.woff2') format('woff2'),
	url('../../fonts/web/TimesNewRoman.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/*.et_pb_column.et_pb_column_2_5.et_pb_column_2.et_pb_css_mix_blend_mode_passthrough.et-last-child {*/
/*	display: none;*/
/*}*/

.woocommerce-product-rating {

	float: right !important;

}

.woocommerce-variation.single_variation {

	float: left !important;
	font-weight: bold;
	font-size: 120%;

}

table.variations th.label {

	vertical-align: top !important;
	line-height: 1.1 !important;
	padding-top: 17px !important;
	margin: 0 !important;
	height: auto !important;

}

table.variations td {

	line-height: 1.8 !important;
	vertical-align: middle !important;

}

table.variations td.classVarSize, table.variations th.classVarSize {

	/* background-color : #373c4e; */
	color: white !important;
}

table.variations td select,
table.variations td input,
table.variations td textarea {

	font-size: inherit !important;
	font-family: inherit !important;

}

table.variations td input,
table.variations td textarea {

	padding: 5px;
	width: 100%;

	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;

}


.woocommerce div.product form.cart .variations td {
	padding: 10px 20px 10px 0 !important;
	max-width: none !important;
	line-height: 1.3em;
}

.div-house-no {

	position: absolute;
	left: 120px;
	top: 200px;
	width: 100px;
	height: 100px;
	overflow: hidden;

}

#img-house-no {

	color: white;
	font-size: 200%;

}

.picLoading {

	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 35px;
	background: url(../img/loading.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	z-index: 9999;
}

/* Remaining character information
for line 1 and line 2
***********************************/
.line-info-wrapper {

	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

p.line-char-info {
	position: absolute;
	left: 0;
	top: 5px;
	min-width: 100%;
	width: 0;
	font-size: 90%;
	color: #999;
	word-wrap: break-word;
	white-space: normal;
	line-height: 1.1 !important;
}

.redText {
	color: red !important;
}

.ubwchsd-lb-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	z-index: 99999;
	display: none;
}

.ubwchsd-lb-wrapper .ubwchsd-lb-innerContainer {

	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	border: 5px solid #fff;
}

.btn-close {

	position: absolute;
	height: 34px;
	width: 34px;
	top: 10px;
	right: 10px;
	background: url(../img/btn-close.png);
	cursor: pointer;
}

/* TEXT PLACEHOLDER
*******************/
.ubhsd-text-placeholder {
	position: absolute;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	/* border : 1px solid red; */
}

.fontSizeEstimation {
	border: 1px solid #999;
	display: none;
	padding: 0;
	width: auto;
	height: auto;
}

.ubhsd-pLine1-overlay-text,
.ubhsd-pLine2-overlay-text {
	z-index: 9997;
}

.ubhsd-line1-txt-large-overlay,
.ubhsd-line2-txt-large-overlay {
	z-index: 99999;
}

/* SLIDER IN PHOTOS FROM OTHER CUSTOMERS TAB
*********************************************/
.ubhsd-pfoc-slider {
	position: relative;
	min-height: 350px;
}

.ubhsd-pfoc-slide img{
	height: 374px;
	object-fit: contain;
	object-position: center;
}
.ubhsd-pfoc-slide {
	/*	position: absolute;*/

	width: 100%;
}


.ubhsd-slider-arrows {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	height: 32px;
	z-index: 100;
	width: 100%;
}

.ubhsd-slider-left-arrow {
	position: absolute;
	display: block;
	top: 0;
	left: -20px;
	color: white;
	font-size: 32px;
	cursor: pointer;
	display: none;
}

.ubhsd-slider-right-arrow {
	position: absolute;
	display: block;
	top: 0;
	right: -20px;
	color: white;
	font-size: 32px;
	cursor: pointer;
	display: none;
}


/* SLIDE BLOCK
**************/
.ub_slide-block-wrapper {
	position: relative;
	display: block;
	box-shadow: 0px 2px 18px 0px #E09900;
	border-width: 4px;
	border-color: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	background-color: white;
	width: 360px;
	text-align: center;
	padding: 5px;
}

/* STANDARD BOTTOM TEXT
.ub_slide-no-image {
	position: absolute;
	left : 0;
	top : 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5) url(http://localhost/designsign/wp-content/uploads/2023/03/C10cvy8-gFS-scaled.jpg) 50% 50% no-repeat;
	background-size: auto 100%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	z-index : 10000;
	display: none;
}
*/

/*
.ub_slide-no-image p {
	position: absolute;
	left : 0;
	bottom : 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin-top : 120px;
	background-color: #f0f0f0;
	backdrop-filter: blur(4px);
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-ms-border-radius: 0 0 8px 8px;
	-o-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	font-family: 'Roboto', serif !important;
}

.ub_slide-no-image p span {
	font-family: 'Roboto', serif !important;
	font-size : 18px;
	color : #000;
	font-weight: normal;
	z-index: 10001;
}
*/

.ub_slide-no-image p {

	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	transform: translate(0, -50%);
	/*
	margin-top : 120px;
	background-color: #f0f0f0;
	backdrop-filter: blur(4px);
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-ms-border-radius: 0 0 8px 8px;
	-o-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	*/
	font-family: "Libre Baskerville", Georgia, "Times New Roman", serif;

}

.ub_slide-no-image p span {
	font-family: "Libre Baskerville", Georgia, "Times New Roman", serif;
	font-size: 28px;
	color: #fff;
	font-weight: normal;
	z-index: 10001;
	/* Engraved */
	background-color: #f0f0f0;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: rgba(51, 51, 51, 0.5) -1px -1px 1px;
}

.ub_slider-block {
	position: relative;
	display: block;
	height: 400px;
	background-color: #f0f0f0;
	margin-bottom: 15px;
}

.ub_slider-block:after {
	content: '';
	display: block;
	clear: both;
}

.ub_slide-image {
	max-height: 400px;
	overflow: hidden;
}

.ub_slide-image img {
	width: 100%;
	height: auto;
}

.ub_slider-block-font-name {
	position: relative;
	display: block;
	font-family: Roboto, Verdana;
	font-size: 24px !important;
	font-weight: 600 !important;
	font-style: normal;
	color: #666;
	padding: 0 !important;
	margin: 0 0 7px 0 !important;
}

.ub_slider-block-finishing-option,
.ub_slider-block-rating {
	position: relative;
	display: block;
	font-family: Roboto, Verdana;
	font-size: 14px !important;
	font-weight: 500 !important;
	font-style: normal;
	color: #666;
	padding: 0 !important;
}

.ub_slider-block-finishing-option {
	margin: 0 0 10px 0 !important;
	text-transform: uppercase;
}

.ub_slider-block-rating {
	margin: 0 0 20px 0 !important;
}

.ub_slider-block-price {
	position: relative;
	display: block;
	font-family: Roboto, Verdana;
	font-size: 22px !important;
	font-weight: 600;
	font-style: normal;
	color: #0C71C3 !important;
}

.ub_slide-block-wrapper p {
	text-align: center;
}

.ub_slider-block-button a,
.ub_slider-block-button a:link,
.ub_slider-block-button a:visited,
.ub_slider-block-button a:active {
	color: #fff !important;
	font-size: 16px !important;
	padding: .5em 1em !important;
	background-color: #333;
	border-width: 0px !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
	text-decoration: none;
	transition: all 300ms ease 0ms;
}

.ub_slider-block-button a:hover {
	color: #444 !important;
	background-color: #f0f0f0;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

.ub_slider-block-button {
	position: relative;
	display: block;
	margin-bottom: 10px;
}

.clearBoth {
	clear: both;
}

/* PRODUCTS PAGE
****************/
.ub_products-buttons-wrapper {
	position: relative;
	display: block;
	margin: 20px 0 100px 0;
	text-align: center;
}

.ub_product-page-buttons {
	padding: 1%;
	background-color: #333;
	font-size: 20px;
	text-align: center;
	margin-right: 20px;
	color: #fff;
	min-width: 240px;
	cursor: pointer;
}

.ub_product-page-buttons:last-child {
	margin-right: 0;
}

.ub_product-page-buttons:hover {
	color: #444 !important;
	background-color: #f0f0f0;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	border: 0;
}

.ub_products-selected-finishingtype-title p,
.ub_review-title p {
	display: block;
	text-align: center;
	font-family: "Libre Baskerville", Georgia, "Times New Roman", serif;
	font-weight: 700;
	line-height: 1.6em;
	font-size: 24px;
	margin-bottom: 20px;
}

/* Tab control
**************/
.ub_tab-control {
	position: relative;
	border: 1px solid #c0c0c0;
	margin-bottom: 40px;
}

ul.ub_tab-headers {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0 !important;
	border-bottom: 1px solid #c0c0c0;
	background-color: rgb(244, 244, 244);
	overflow: visible;
}

ul.ub_tab-headers li {
	position: relative;
	display: inline-block;
	padding: 5px 40px;
	font-weight: bold;
	margin: 0;
	background-color: rgb(244, 244, 244);
	border-left: 1px solid #c0c0c0;
	cursor: pointer;

}

.tab-right-border {
	border-right: 1px solid #c0c0c0 !important;
}

.tab-no-left-border {
	border-left: none !important;
}

ul.ub_tab-headers li:first-child {
	border-left: none;
}

ul.ub_tab-headers li:last-child.active-tab {
	border-right: 1px solid #c0c0c0;
}

ul.ub_tab-headers li.active-tab {
	background-color: white;
}

ul.ub_tab-headers li.active-tab:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 2px;
	width: calc(100%);
	border-bottom: 2px solid white;
	z-index: 100;
}

.ub_tab-pages-container {
	margin-top: 20px;
}

.ub_tab-page {
	display: none;
	padding: 40px 20px 40px 40px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul.ub_single-slider {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

ul.ub_single-slider li {
	float: left;
	width: 48%;
	margin-bottom: 40px;
	text-align: center;
	display: flex;
	justify-content: center;
}

ul.ub_single-slider li:last-child {
	margin-bottom: 0;
}

/* Slide dots
***************/
.ub_slide-dots {
	position: absolute;
	left: 0;
	top: 380px;
	width: 100%;
}


.slide-dot {
	height: 6px;
	width: 6px;
	background-color: aqua;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
	border: 2px solid transparent;
	outline: 1px solid #aaa;
	transition: 0s ease-in-out;
}

.slide-dot.current {
	/* box-shadow: 0 0 0 3px gray; */
	outline: 2px solid #666;
}

/* REVIEWS
**********/
.ub_review-blocks .wp-block-column {
	border-radius: 8px 8px 8px 8px;
	border-width: 10px;
	border-color: #fff;
	box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
	padding: 10px;
}

.ub_review-blocks .ub_review p {
	padding: 0;
	margin: 0;
}

.ub_products-bottom-button {
	margin-top: 60px;
	margin-bottom: 40px;
	text-align: center;
}

.ub_review-title {
	margin-top: 150px;
	margin-bottom: 50px;
}

#ub_pp_btn_engraved {
	margin-right: 20px;
}
#custom{
	max-width: 900px;
	padding-top: 0 !important;
	border-radius: 5px;
}

#custom + .da-close-wrap .da-close{
	line-height: 44px !important;
	height: auto !important;
	box-shadow: none !important;
	background: transparent !important;
}
#custom #hrader{
	background: #cecece !important;
	width: 100% !important;
	padding: 10px 2.5% !important;
	border-radius: 5px 5px 0 0;
}
#custom > div{
	width: 95% !important;
}
.popup_outer_wrap #custom .et_pb_row_3 img{
	width: auto;
	height: 30px;
}
.popup_outer_wrap #custom .et_pb_row_3 .et_pb_module{
	text-align: left !important;
}
.popup_outer_wrap #custom .et_pb_row_4{
	padding-top: 0 !important;
}
.popup_outer_wrap #custom .variations_form.cart {
	display: flex !important;
	flex-direction: column;
	align-items: flex-start;
}
.popup_outer_wrap #custom .variations_form.cart table.variations{
	width: 100%;
}
.popup_outer_wrap #custom .variations_form.cart table.variations td{
	border-top: none;
}
.popup_outer_wrap #custom .variations_form.cart table.variations tr{
	display: flex;
	flex-direction: column;
}
.popup_outer_wrap #custom .variations_form.cart table.variations tr td{
	padding: 0 !important;
}
.popup_outer_wrap #custom .variations_form.cart table.variations input,
.popup_outer_wrap #custom .variations_form.cart table.variations select{
	height: 40px;
	padding: 0 20px !important;
	border: 1px solid #ececec !important;
	border-radius: 3px !important;
}
.popup_outer_wrap #custom .variations_form.cart table.variations textarea{
	padding: 10px 20px !important;
	border: 1px solid #ececec !important;
	border-radius: 3px !important;
	resize: none;
	height: 90px;
}
.popup_outer_wrap #custom .single_variation_wrap .quantity input{
	max-width: 100% !important;
	width: 100% !important;

}
.popup_outer_wrap #custom .single_variation_wrap .woocommerce-variation-add-to-cart div[style="visibility : hidden;"]{
	display: none;
}
.popup_outer_wrap #custom .single_variation_wrap .woocommerce-variation-add-to-cart{
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: space-between;
	margin-top: 20px;
}
.popup_outer_wrap #custom .single_variation_wrap .quantity .screen-reader-text{
	display: none;
}
.popup_outer_wrap #custom .single_variation_wrap{
	width: 100%;
}
body.et-db #page-container #et-boc .popup_outer_wrap #custom .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart .single_add_to_cart_button.button {
	padding: 0 20px !important;
}
body.et-db #page-container #et-boc .popup_outer_wrap #custom .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart .single_add_to_cart_button.button:before {
	display: none !important;
}
.popup_outer_wrap #custom .variations_form.cart table.variations th.label{
	padding-left: 0 !important;
	text-align: left !important;
}
.et-db #et-boc .et-l .et_pb_wc_add_to_cart form.cart .variations td.value span{
	display: flex;
}
.et-db #et-boc .et-l .et_pb_wc_add_to_cart form.cart .variations td.value span:after{
	top: 50%;
	transform: translateY(-50%);
}
/* MEDIA RULES
**************/
@media only screen and (max-width: 680px) {

	ul.ub_single-slider li {
		float: none;
		width: 100%;
		display: flex;
		padding: 0 !important;
		justify-content: center;
		margin-left: -5px;
	}

	ul.ub_tab-headers li {
		border-left: none;
	}

	ul.ub_tab-headers li:not(:last-child) {
		border-bottom: 1px solid #c0c0c0;
	}


	ul.ub_tab-headers li.active-tab:after {
		content: '';
		border: none;
	}

	.tab-right-border {
		border-right: none !important;
	}

	.ub_tab-page {
		padding: 10px 0;
	}

	.ub_tab-headers li {

		float: none;
		width: 100%;
	}

	#ub_pp_btn_engraved {
		margin-right: 0;
		margin-bottom: 10px;
	}
}

/*.variations tr {*/
/*	display: none;*/
/*}*/

/*.variations tr:first-child {*/
/*	display: block;*/
/*}*/
