body {

	background-color : #f0f0f0 !important;
}

input[type=number] {
	width: 90px;
}

.ubwchsd_wrapper * {
	font-family: 'Open Sans';
	font-size : 14px !important;
}

.ubwchsd_wrapper h3 * {
	font-size: 170% !important;
}

.clearBoth {
	clear: both;
}


.ubwchsd_wrapper .container-fluid {
	margin-left: 0 !important;
	padding: 0 5px 0 0 !important;
	
}

.ubwchsd_wrapper .row {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 0 15px 20px 0 !important;
}

.ubwchsd_wrapper .col {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.firstCol {
	padding: 0 20px 0 0 !important;
}

.lastCol {
	padding: 0 0 0 20px !important;
}

.singleCol {
	padding: 0 !important;
}

@media (min-width: 1200px) {
	.ubwchsd_wrapper .container-fluid {
		width: 100% !important;
	}
}



/* ATTRIBUTE PROPS */

.ubwchsd_prop_cell {

	height : 50px;
	background-color : lightyellow;

}

.ubwchsd-box {
	position: relative;
	border: 1px solid #c0c0c0;
	padding: 15px 15px;
	margin: 0 20px 10px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: black;
	background: #ffffff;
}

.box-smoke-color {

	background-color : floralwhite !important;

}

.ubwchsd-box-inner {
	position: relative;
	border: 1px solid #c0c0c0;
	padding: 15px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: black;
	background: #ffffff;
}

h5.thin-header {
	font-weight : bold;
	margin-bottom : 20px;
	border-bottom : 1px solid #bbb;
	padding-bottom : 10px;
	font-size : 120% !important;
	font-weight : bold;
}

.ubwchsd-left-div .fas,
.ubwchsd-right-div .fas {
	color: #999;
}

.ubwchsd-spinner {
	position: absolute;
	float: left;
	width: 30px;
	height: 30px;
	background-color: #f0f0f0;
	background-image: url(../img/spinner-2x.gif);
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

.moveSpinnerToLeft {
	left : 70px !important;
}

.spinner-pluginstatus {
	top: 16px;
	left: 210px;
	visibility: hidden;
}

.spinner-selected-product-save {
	top : 0px;
	visibility : hidden;
}


.ubwchsd-spinner-visible {
	visibility: visible !important;
}

.marginTop20 {
	margin-top : 20px;
}

.noTopMargin {
	margin-top: 0;
}




.ubwchsd-btn-green {

	background : green !important;

}

.ubwchsd-btn-blue {

	background : #0275d8 !important;

}

.ubwchsd-btn-red {

	background : #bf0000 !important;

}

.ubwchsd-btn-grey {
	
	background : #c0c0c0 !important;
	border : 1px solid #a0a0a0 !important;
	color : #000 !important;
}

.excluded-row {
	
	background-color : #c0c0c0 !important;
	
}



.spinner-variation-props-save {
	top: 1px;
	left: 140px;
	visibility: hidden;
}

.spinner-save-size-attribute-values {
	top: 1px;
	left : 140px;
	visibility: hidden;
} 

.spinner-save_finishing_type_values {
	top : 1px;
	left : 140px;
	visibility: hidden;
}

.spinner-save_finishing_option_values {
	top : 1px;
	left:  140px;
	visibility: hidden;
}

.spinner-remove-and-create-variations {
	top : 1px;
	left : 290px;	
	visibility: hidden;
}

.spinner-save_region_values {
	left : 480px;	
	top : 122px;
	visibility: hidden;
}


.spinner-create-product-in-WC {
	left : 780px;
	top : 132px;
	visibility: hidden;

}

.spinner-create-all-variations {
	top : 1px;
	left : 150px;	
	visibility: hidden;
}

.spinner-customer-photos-page {
	left : 50%;
	top : 50%;
	transform: translate(-50%,-50%);
	visibility: hidden;
}

.numberCircle {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 2px;
	background: #fff;
	border: 2px solid #666;
	color: #666;
	text-align: center;
	font-weight: bold;
}

p.attribute-name {
	margin: 0 0 20px 0;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 120%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color : #fff;
	border : 2px solid #666;
	display : inline-block;
}

.ubwchsd_variations_td1 {
	width: 50px;
	vertical-align: top;
}

.ubwchsd_variations_td2 {
	vertical-align: middle;
	width : 1px;
    white-space: nowrap;
	padding-right : 15px;
}

.ubwchsd_variations_td3 {
	text-align : left;
	vertical-align: middle;
	white-space: nowrap;
}


.ubwchsd_variations_subtable tr.info > td {
	background-color: #fff;
}

.ubwchsd_blank_row {
	max-height : 2px !important;
}

td.var_name,
td.var_bc,
td.var_bw {
	width: 8%;
	white-space: nowrap;
}

td.var_blank_td {

	width : 100px;
}

.ubwchsd_variations_subtable {
	border-collapse: separate;
	border-spacing: 0 2px;
}

.ubwchsd_variations_subtable th {

	background-color : #d0d0d0;
	padding : 10px 0;

}

.ubwchsd_variations_subtable tr.info {
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ubwchsd_variations_subtable td {
	padding: 10px 0;
}

.ubwchsd_variations_subtable td:first-child {
	font-weight: bold;
	padding-left: 10px;
}

.ubwchsd_variations_subtable td.var_save_btn {
	padding-left: 0 !important;
}

.redText {
	color: red;
}
.greenText { color : green;}






.ubwchsd-settings-table {
	
	width : 100%;
}

input#ubwchsd-txt-border-width {

	display : inline-block;
	width : 100px !important;
	text-align : center;
}

td.var_save_btn { padding-top : 30px; }

.errorBox, .staticErrorBox {
	position: relative;
	border: 2px solid #666;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: black;
	background: lightyellow;
	margin-bottom : 20px;
	width: 99%;
	clear : both;
}


.staticErrorBox p.single-line { 

	padding:  0 !important;
	margin:  0 !important;

}

span.selected-product-title {

	font-size : 110% !important;
	font-weight : bold;
	color : green;
}

p.hsd_errorbox_form {

	border-top : 1px solid #666;
	padding-top: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
	font-weight: bold;
}

.errorBox {

	display : none;

}

table.ub_wchsd_size_values th, table.ub_wchsd_size_values td { padding-right : 20px;}

table.ub_wchsd_size_values th { background-color:blanchedalmond; padding : 10px 20px;}
table.ub_wchsd_size_values td { border-bottom : 1px dotted #999; padding:  10px 20px; }

table.ub_wchsd_variation_list { border-spacing: 0; border-collapse:collapse;}
table.ub_wchsd_variation_list th { background-color:blanchedalmond; padding : 10px 20px;}
table.ub_wchsd_variation_list td { border-bottom : 1px dotted #999; padding:  10px 20px; }


/* TABS
************/
.disabledTab {
	cursor:not-allowed !important;
}

.hiddenTabPage {
	display: none;
}

.ub_tab_header {
	float:left;
	margin : 0 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background-color: #e0e0e0;
	border-width : 1px 1px 1px 1px;
	border-color: #ddd;
	border-style: solid;
	padding:  8px 10px;
	display: block;
	cursor: pointer;
}

.ub_tab_header:first-child {

	margin-left:  8px;

}

.ub_tab_header:not(.selected):hover {
	background-color: #f0f0f0;
}

.ub_tab_header.selected {
	background-color: white;
	font-weight: bold;
	margin-bottom: -2px;

	border-style: solid;

	border-width: 1px;
	border-top-width: 3px;

	border-top-color:slategray;
	border-right-color: #c0c0c0;
	border-bottom-color: white;
	border-left-color: #c0c0c0;

	cursor : default;
}


.ub_tab_page_container {
	background-color:  white;
	padding : 30px;
	margin: 0;
	border : 1px solid #c0c0c0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	height:  auto;
}

.variation_image_panel {
	position: relative;
	float:  left;
}

.featured_image_properties {
	position: relative;
	float:  right;
	padding-left: 30px;
}

.featured_image_properties table.tbl-region-settings { display:  none ;}

.variation_image_panel table td,
.featured_image_properties table td { padding-right:  20px;}

.featured_image_properties table td { vertical-align: top;}

p.extra-info {

	padding:  10px;
	font-size:  140%;
	background-color:  lightyellow;
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: black;

}

p.extra-info-text {
	position: relative;
	width : 100%;
	border-bottom: 1px solid #c0c0c0;
	font-size: 150% !important;
	margin-top: 40px;
}

.ubwchsd_sdesign_img_chooser_wrapper {
	padding : 5px 10px;
	margin-bottom : 15px;
	border : 1px dashed #999;
	background-color: #f9f9f9;
}

.variation_image_properties_container {
	display : none;
}

/* CUSTOMER PHOTOS
******************/
.rounded {

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;

}

.ubwchsd-actions-wrapper {
	position: fixed;
	bottom: 10px;
	display: block;	
	z-index: 9999;
	display: none;
}

.ubwchsd-actions-panel {
	position: relative;
	display: inline-block;
	padding : 10px 10px;
	margin-right: 20px;
	border : 1px solid #c0c0c0;
}

.ubwchsd-panel-ivory {
	background-color: lightgoldenrodyellow;
}

.ubwchsd-panel-white {
	background-color: white;
}

.ubwchsd-panel-yellow {
	background-color: yellow;
	display: none;
}

.ubwchsd-size-panel {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}

.ubwchsd-default-image {
	position: relative;
	width: 300px;
	min-height: 400px;
	border : 1px dashed #999;
	margin-bottom: 10px;
}

.ubwchsd-default-image img {
	width: 100%;
	height: auto;
}

p.img_fileName {
	display: none;
	background-color: lightgoldenrodyellow;
}

.no-border {
	border : none !important;
}

/* Image wrapper
*****************/
.ubwchsd-image-panel {

	position: relative;
	display: inline-block;
	padding: 5px;
	border: 1px solid #999;
	margin-right: 10px;
	margin-bottom: 10px;
	vertical-align: top;
	text-align: center;

}

.ubwchsd-image-panel * {

	cursor: pointer;

}

.selected-image {
	border : 1px solid green !important;
	background-color: lightgreen;
}

.ubwchsd-image-panel p {
	text-align: center;
	padding: 0;
	margin-top : 5px;
	margin-bottom: 5px;
}

.ubwchsd-image-panel img {
	max-width: 200px;
	height: auto;
	border : 1px solid #c0c0c0;
}

.ubwchsd-image-panel.selected-image p {
	color : black !important;
}

.undefined-info {
	color : red;
}

.hidden_wrapper {
	display: none;
}

/* SLIDE BLOCK
**************/
.slide-block-wrapper {
	position: relative;
	box-shadow: 0px 2px 18px 0px #E09900;
	border-width: 4px;
	border-color: #fff;
	overflow: hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	background-color: white;
	width: 20%;
	text-align: center;
	padding: 5px;
}

.slider-block {
	position: relative;
	min-height: 500px;
	background-color: #e0e0e0;
	margin-bottom: 15px;
}

.slider-block-font-name {
	font-family: Roboto, Verdana;
	font-size : 24px !important;
	font-weight: 600 !important;
	font-style: normal;
	color : #666;
	padding: 0 !important;
	margin: 0 0 7px 0 !important;
}

.slider-block-finishing-option,
.slider-block-rating {
	font-family: Roboto, Verdana;
	font-size : 14px !important;
	font-weight: 500 !important;
	font-style: normal;	
	color : #666;
	padding: 0 !important;
}

.slider-block-finishing-option {
	margin: 0 0 10px 0 !important;
}

.slider-block-rating {
	margin: 0 0 20px 0 !important;
}

.slider-block-price {
	font-family: Roboto, Verdana;
	font-size : 22px !important;
	font-weight: 600;
	font-style: normal;
	color : #0C71C3!important;
}

.slide-block-wrapper p {
	text-align: center;
}

.slider-block-button a,
.slider-block-button a:link,
.slider-block-button a:visited,
.slider-block-button a:active {
	color :#fff !important;
	font-size: 16px !important;
	padding: .5em 1em!important;
	background-color: #333;
	border-width: 0px!important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;	
	font-weight: bold;
	text-decoration: none;
	transition: all 300ms ease 0ms;
}

.slider-block-button a:hover {
	color : #444 !important;
	background-color: #f0f0f0;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;		
}

.slider-block-button {
	margin-bottom: 10px;
}

/* RESPONSIVE DESIGN
*****************/

@media screen and (max-width: 1524px) {

	.variation_image_panel {
		float:  none;
		clear: both;
	}


	.featured_image_properties {

		float : none;
		clear : both;
		padding-left : 0;
		margin-top : 30px !important;
	}

}

/* SLIDER IN PHOTOS FROM OTHER CUSTOMERS TAB
*********************************************/
.ubhsd-pfoc-slider {
	position: relative;
	min-height: 500px;
}

.ubhsd-pfoc-slide {
	position: absolute;
	left : 0;
	top : 0;
	height: 100%;
	width: 100%;
}

.ubhsd-pfoc-slide img {
	width: 100%;
	height: auto;
	max-height: 500px;
}

.ubhsd-slider-arrows {
	position: absolute;
	top : 100px;
	left : 0;
	width: 100%;
	height: 32px;
	z-index: 100;
	width: 100%;
}

.ubhsd-slider-left-arrow {
	position: absolute;
	display: block;
	top : 0;
	left : -50px;
	color : white;
	font-size: 32px;
	cursor: pointer;
}

.ubhsd-slider-right-arrow {
	position: absolute;
	display: block;
	top : 0;
	right : -50px;
	color : white;
	font-size: 32px;
	cursor: pointer;
}


